   
     <h1> Login Form </h1> 
     <form #loginForm = "ngForm" (ngSubmit) ="login(loginForm.value)">  
         <div class="container">   
             <label>Username : </label>   
             <input type="text" placeholder="Enter Username" name="username" required ngModel>  
             <label>Password : </label>   
             <input type="password" placeholder="Enter Password" name="password" required ngModel>  
             <button type="submit">Login</button>   
             <input type="checkbox" checked="checked"> Remember me  
             Forgot <a href="#"> password? </a>   
         </div>   
     </form>     
   